@media (max-width: 1200px) {
    html {
      font-size: 55%;
    }
  
    .navbar {
      padding: 1rem 2rem;
    }
    .menu {
      display: none;
    }
  
    .card-category {
      height: 12rem;
      p {
        font-size: 2rem;
        text-align: center;
        line-height: 1;
      }
      span {
        font-size: 1.4rem;
      }
    }
  
    .container-options {
      align-items: center;
      span {
        text-align: center;
        padding: 1rem 2rem;
      }
    }
  
    .container-products {
      grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
    }
  
    .gallery {
      grid-template-rows: repeat(2, 15rem);
    }
  
    .container-blogs {
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
    }
  
    .card-blog {
      .container-img {
        height: 300px;
        width: 300px;
      }
      .container-vid {
        iframe {
          height: 300px;
          width: 300px;
        }
      }
      .content-blog {
        h3 {
          font-size: 2rem;
        }
      }
    }
  
    .menu-footer {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .copyright {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1.5rem;
    }
}




@media (max-width: 1000px) {
    html {
      font-size: 55%;
    }
  
    .hero {
      padding: 2rem;
    }
  
    .customer-support {
      display: none;
    }
  
    .content-shopping-cart {
      display: none;
    }
  
    .navbar {
      padding: 1rem 2rem;
      .fa-bars {
        display: block;
        color: #fff;
        font-size: 3rem;
      }
    }
  
    .menu {
      display: none;
    }
  
    .content-banner {
      max-width: 50rem;
      margin: 0 auto;
      padding: 25rem 0;
    }
  
    .card-category {
      height: 12rem;
      p {
        font-size: 2rem;
        text-align: center;
        line-height: 1;
      }
      span {
        font-size: 1.4rem;
      }
    }
  
    .container-options {
      align-items: center;
      span {
        text-align: center;
        padding: 1rem 2rem;
      }
    }
  
    .container-products {
      grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
    }
  
    .gallery {
      grid-template-rows: repeat(2, 15rem);
    }
  
    .container-blogs {
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
      .card-blog {
        .container-img {
          height: 300px;
          width: 300px;
        }
        .container-vid {
          iframe {
            height: 300px;
            width: 300px;
          }
        }
        .content-blog {
          h3 {
            font-size: 2rem;
          }
        }
      }
    }
  
    .menu-footer {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .copyright {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1.5rem;
    }
  }



.Productos{ 

    @media (max-width: 768px) {
        html {
        font-size: 55%;
        }
    
        .hero {
        padding: 2rem;
        }
    
        .customer-support,
        .content-shopping-cart {
        display: none;
        }
    
        .navbar {
        padding: 1rem 2rem;
    
        .fa-bars {
            display: block;
            color: #fff;
            font-size: 3rem;
        }
        }
    
        .menu {
        display: none;
        }
    
        .content-banner {
        max-width: 50rem;
        margin: 0 auto;
        padding: 25rem 0;
        }
    
        .card-category {
        height: 12rem;
    
        p {
            font-size: 2rem;
            text-align: center;
            line-height: 1;
        }
    
        span {
            font-size: 1.4rem;
        }
        }
    
        .container-options {
        align-items: center;
    
        span {
            text-align: center;
            padding: 1rem 2rem;
        }
        }
    
        .container-products {
        grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
        }
    
        .gallery {
        grid-template-rows: repeat(2, 15rem);
        }
    
        .container-blogs {
        grid-template-columns: 1fr;
        gap: 1rem;
    
        .card-blog {
            .container-img,
            .container-vid iframe {
            height: 300px;
            width: 300px;
            }
    
            .content-blog {
            h3 {
                font-size: 2rem;
            }
            }
        }
        }
    
        .menu-footer {
        grid-template-columns: repeat(2, 1fr);
        }
    
        .copyright {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        }
    }




    @media (max-width: 468px) {
        html {
        font-size: 42.5%;
        }
    
        .content-banner {
        max-width: 50rem;
        padding: 22rem 0;
        }
    
        .heading-1 {
        font-size: 2.8rem;
        }
    
        .card-feature {
        flex-direction: column;
        border-radius: 2rem;
    
        .feature-content {
            align-items: center;
    
            p {
            font-size: 1.4rem;
            text-align: center;
            }
    
            span {
            font-size: 1.6rem;
            text-align: center;
            }
        }
        }
    
        .container-options span {
        font-size: 1.8rem;
        padding: 1rem 1.5rem;
        font-weight: 500;
        }
    
        .container-products {
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        gap: 1rem;
        }
    
        .container-img .discount {
        font-size: 2rem;
        }
    
        .content-card-product h3 {
        font-size: 2.2rem;
        }
    
        .gallery {
        grid-template-rows: repeat(2, 20rem);
        }
    
        .blogs {
        padding: 2rem;
    
        .container-blogs {
            grid-template-columns: 1fr;
            gap: 1rem;
    
            .container-vid iframe {
            height: 50px;
            width: 50px;
            }
    
            .content-blog {
            h3 {
                font-size: 2.4rem;
            }
    
            span {
                font-size: 1.8rem;
            }
    
            p {
                font-size: 2.2rem;
            }
    
            .btn-read-more {
                margin: 2rem 0 3rem;
            }
            }
        }
        }
    
        .contact-info ul,
        .information ul,
        .my-account ul {
        display: none;
    
        .contact-info {
            align-items: center;
        }
    
        .menu-footer {
            grid-template-columns: 1fr;
        }
    
        .content p {
            font-size: 1.6rem;
        }
        }
    }







    @media (max-width: 768px) {
        html {
        font-size: 55%;
        }
    
        .hero {
        padding: 2rem;
        }
    
        .customer-support,
        .content-shopping-cart {
        display: none;
        }
    
        .navbar {
        padding: 1rem 2rem;
    
        .fa-bars {
            display: block;
            color: #fff;
            font-size: 3rem;
        }
        }
    
        .menu {
        display: none;
        }
    
        .content-banner {
        max-width: 50rem;
        margin: 0 auto;
        padding: 25rem 0;
        }
    
        .container-features {
        grid-template-columns: repeat(2, 1fr);
        padding: 3rem 2rem;
        }
    
        .card-feature {
        padding: 2rem;
    
        .feature-content {
            span {
            font-size: 1.6rem;
            }
    
            p {
            font-size: 1.8rem;
            }
        }
        }
    
        .heading-1 {
        font-size: 2.4rem;
        }
    
        .card-category {
        height: 12rem;
    
        p {
            font-size: 2rem;
            text-align: center;
            line-height: 1;
        }
    
        span {
            font-size: 1.4rem;
        }
        }
    
        .container-options {
        align-items: center;
    
        span {
            text-align: center;
            padding: 1rem 2rem;
        }
        }
    
        .container-products {
        grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
        }
    
        .gallery {
        grid-template-rows: repeat(2, 15rem);
        }
    
        .container-blogs {
        overflow: hidden;
        grid-template-columns: 1fr 1fr;
        height: 52rem;
        }
    
        .menu-footer {
        grid-template-columns: repeat(2, 1fr);
        }
    
        .copyright {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        }
    }
    


    @media (max-width: 468px) {
        html {
        font-size: 42.5%;
        }
    
        .content-banner {
        max-width: 50rem;
        padding: 22rem 0;
        }
    
        .heading-1 {
        font-size: 2.8rem;
        }
    
        .card-feature {
        flex-direction: column;
        border-radius: 2rem;
    
        .feature-content {
            align-items: center;
    
            p {
            font-size: 1.4rem;
            text-align: center;
            }
    
            span {
            font-size: 1.6rem;
            text-align: center;
            }
        }
        }
    
        .container-options span {
        font-size: 1.8rem;
        padding: 1rem 1.5rem;
        font-weight: 500;
        }
    
        .container-products {
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        gap: 1rem;
    
        .container-img .discount {
            font-size: 2rem;
        }
    
        .content-card-product h3 {
            font-size: 2.2rem;
        }
    
        .gallery {
            grid-template-rows: repeat(2, 20rem);
        }
    
        .blogs {
            padding: 2rem;
    
            .container-blogs {
            grid-template-columns: 1fr;
            height: 75rem;
    
            .content-blog {
                h3 {
                font-size: 2.4rem;
                }
    
                span {
                font-size: 1.8rem;
                }
    
                p {
                font-size: 2.2rem;
                }
            }
    
            .btn-read-more {
                font-size: 1.8rem;
            }
    
            .contact-info ul,
            .information ul,
            .my-account ul {
                display: none;
            }
    
            .contact-info {
                align-items: center;
            }
    
            .menu-footer {
                grid-template-columns: 1fr;
            }
    
            .content p {
                font-size: 1.6rem;
            }
            }
        }
        }
    }
}

  .Contacto {
    @media screen and (max-width: 1000px) {
      body {
        margin: 10px;
      }
  
      input[type="submit"],
      input[type="reset"] {
        font-size: 14px;
      }
  
      iframe {
        height: 200px;
      }
    }
  
    @media screen and (max-width: 800px) {
      body {
        margin: 5px;
      }
  
      input[type="text"],
      input[type="email"],
      textarea,
      select {
        font-size: 14px;
      }
  
      iframe {
        height: 150px;
      }
    }
  
    @media screen and (max-width: 400px) {
      body {
        margin: 2px;
      }
  
      input[type="text"],
      input[type="email"],
      textarea,
      select {
        font-size: 12px;
      }
  
      iframe {
        height: 100px;
      }
    }
  }
  